html {
  height: 100%;
}

body {
  margin-top: 0;
  margin-left: 0;
  height: 100%;
}

.view-container {
  display: flex;
  height: 100%;
}

.sidebar-container {
  height: 100%;
  width: 250px;
  background-color: green;
}
