html {
  height: 100%;
}

body {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  height: 100%;
  background-image: url('../client/assets/circuits.jpg');
  background-size: 100% 100%;
  overflow: hidden;
}

.view-frame {
  height: 100%;
}

.slide-bottom {
  transition: all 0 cubic-bezeir(0.25, 0.46, 0.45, 0.94);
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.slide-bottom.ng-enter {
  transform: translateY(24px);
  transition-duration: 250ms;
  opacity: 0;
}

.slide-bottom.ng-enter-active {
  transform: translateY(0);
  opacity: 1;
}

.view-container {
  display: flex;
  height: 100%;
}

.sidebar-container {
  height: 100%;
  width: 250px;
}

.profile-container {
  margin: 16px;
  padding-top: 16px;
  background-color: rgba(44,62,80, 0.8);
}

.profile-picture {
  border-radius: 50%;
  overflow: hidden;
  width: 150px;
  height: 150px;
  margin: 0 auto;
}

.profile-picture img {
  width: 100%;
  height: auto;
  margin-top: -16px;
}

.title-container {
  text-align: center;
  margin-top: 16px;
  margin-bottom: 32px;
  font-family: Arial, Helvetica, sans-serif;
}

.name-container {
  color: white;
}

.headline-container {
  color: white;
}

.links-container {
  text-align: center;
  padding-top: 32px;
  padding-left: 32px;
  margin: 16px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgba(44,62,80, 0.8);
}

.link {
  padding-bottom: 24px;
  display: flex;
  flex-direction: row;
}

.link-link {
  color: white;
  text-decoration: none;
  transition: color .3s;
}

.link-link:hover {
  color: #008ac8;
}

.link-icon {
  margin-right: 16px;
  font-size: 40px;
}

.link-icon i {
}

.link-text{
  font-size: 32px;
  padding-top: 4px;
}

.components-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

nav-bar {
}

.navbar-container {
  background-color: rgba(44,62,80, 0.8);
  margin-left: 16px;
  margin-right: 16px;
}

.nav-buttons-container {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.nav-button {
  cursor: pointer;
  float: left;
  width: 100%;
}

.nav-button a {
  text-decoration: none;
  display: block;
  padding: 14px 16px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: white;
  transition: color .3s;
}

.nav-button a:hover {
  color: #008ac8;
}

.active {
  color: #008ac8 !important;
}

.content-outer-container {
  margin-top: 32px;
  margin-bottom: 32px;
  margin-right: 16px;
  margin-left: 16px;
  height: 75%;
  background-color: rgba(44,62,80, 0.8);
}

.content-inner-container {
  margin-left: 32px;
  margin-right: 32px;
  border: 2px solid #008ac8;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgb(44,62,80);
}

.content-container-content {
  color: white;
}
