<div class="content-inner-container">
  <div class="experiance-container-content content-container-content">
    <div class="experiance-list">
      <div ng-repeat="exp in vm.experiences" class="experiance-item">
        <div class="exp-position exp-heading">{{exp.position}} | </div>
        <a target="_blank" href="{{exp.link}}" class="company-link">
          <div class="exp-company">{{exp.company}}</div>
          <i class="fa fa-external-link" aria-hidden="true"></i>
        </a>
        <div class="exp-duration">| {{exp.duration.start}} - {{exp.duration.end}}</div>
        <div class="exp-location">{{exp.location}}</div>
        <ul class="exp-bullets">
          <li ng-repeat="bullet in exp.bullets" class="bullet-item">{{bullet}}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
