<div class="sidebar-container">
  <div class="profile-container">
    <div class="profile-picture">
      <img src="client/assets/profile-picture.jpg" />
    </div>
    <div class="title-container">
      <div class="name-container">Chase Farmer</div>
      <div class="headline-container">Computer Engineer</div>
    </div>
  </div>
  <div class="links-container">
    <a class="link-link" href="https://www.linkedin.com/in/chase-farmer-236b82115/" target="_blank">
      <div class="link">
        <div class="link-icon">
          <i class="fa fa-linkedin-square" aria-hidden="true"></i>
        </div>
        <div class="link-text">LinkedIn</div>
      </div>
    </a>
    <a class="link-link" href="https://github.com/chasefarmer2808" target="_blank">
      <div class="link">
        <div class="link-icon">
          <i class="fa fa-github" aria-hidden="true"></i>
        </div>
        <div class="link-text">Github</div>
      </div>
    </a>
    <a class="link-link" href="https://docs.google.com/document/d/1cvWJB-msDRKYQBp1IQYMwt_sLT5ezN5o5ADEoS5iUJI/edit?usp=sharing" target="_blank">
      <div class="link">
        <div class="link-icon">
          <i class="fa fa-file-text" aria-hidden="true"></i>
        </div>
        <div class="link-text">Resume</div>
      </div>
    </a>
  </div>
</div>
